.headerContainer {
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  padding-right: 60px;
  padding-left: 60px;
  box-shadow: 0 0 10px 0px #e6e6e6;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-right: 60px;
  padding-left: 60px;
}

.App {
  text-align: center;
}